.home {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ride {
  max-width: 90%;
}

.swiper {
  width: 60%;
  height: 40%;
  z-index: 0;
}

.swiper-slide,
.swiper-slide-active {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: chartreuse;
}

.swiper-pagination-bullet-active {
  background-color: chartreuse;
}

.swiper-pagination {
  position: relative;

}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advertising-Header {
  width: 400px;
  margin-left: 35px;
  padding-top: 10px;
  margin-bottom: 30px;
  color: #23dd0a;
}

.advertising-Text {
  color: #344e41;
  width: 400px;
  margin-left: 35px;
  padding-top: 10px;
  margin-bottom: 30px;
}